.my-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30px 30px;
}

.has-blue-background {
    background-color: #A7DDFF;
    border: 3px solid #721EE3;
}

.has-yellow-background {
    background-color: #FAF7A7;
    border: 3px solid #E38C1E;

}

.flexbox-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
